<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="text-center" style="margin-top: 30px; margin-left: 50px; margin-right: 50px;" >
    <div class="px-4 py-5 my-5 text-center">
        <header>
            <h1>
                BookStore
            </h1>
          
        </header>
        <div class="rows">
            <div class="col">
                <form action='/myPage/<%=session%>' method='get' style="float:right ;" >
                    <button class="btn btn-outline-dark" type='submit'>마이페이지</button>
                </form>       
            </div>
            <div>
                <form class="form-inline" action='/signOut' method='get' style="float:right" ;>
                    <button class="btn btn-outline-dark" type='submit'>로그아웃</button>
                </form>       
            </div>
            <div>
                <form class="form-inline" action='/cart' method='get' style="float:right ;">
                    <button class="btn btn-outline-dark" type='submit'>장바구니</button>
                </form>       
            </div>
            <div>
                <form class="form-inline" action='/orderList/<%=session%>' method='get' style="float:right ;">
                    <button class="btn btn-outline-dark" type='submit'>주문내역</button>
                </form>       
            </div>
        </div>
        
    
        <div class="px-4 py-5 my-5 text-center">
            <div class="col-lg-10 mx-auto">
                <table class="table">
                    <tr>
                      <th scope="col">번호</th>
                      <th scope="col">책 제목</th>
                      <th scope="col">재고량</th>
                      <th scope="col">가격</th>
                    </tr>
                    <%
                    for(var i = 0; i<rows.length; i++)
                    {
                    %>
                    <tr>
                      <td><%=i+1%></td>
                      <td><a href="/book/<%=rows[i].book_id%>"><%=rows[i].book_name%></a></td>
                      <td><%=rows[i].book_quantity%></td>
                      <td><%=rows[i].book_price%></td>
                    </tr>
                    <%
                    }
                    %>
              
                  </table>
            </div>
            
        </div>
        
          
          <input type="button" class="btn btn-outline-dark" value="추가" onclick="movepage()">
          <script type="text/javascript">
              function movepage(){
                location.href='/insert';
              }
          </script>
    </div>
    

</body>
</html>