<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="text-center" style="margin-top: 20px; margin-left: 20px; margin-right: 20px;" >
    
    <header>
        <h1>
            <a href="/main">BookStore</a>
        </h1>
      
    </header>
    <div class="rows">
        <div class="col">
            <form action='/myPage/<%=sess%>' method='get'>
                <button class="btn btn-outline-dark" type='submit'>MyPage</button>
            </form>       
        </div>
        <div>
            <form action='/signOut' method='get'>
                <button class="btn btn-outline-dark" type='submit'>signOut</button>
            </form>       
        </div>
    </div>
    



    <table class="table" border="2">
        <tr>
          <th>번호</th>
          <th>책 제목</th>
          <th>재고량</th>
          <th>가격</th>
        </tr>
        <%
        for(var i = 0; i<rows.length; i++)
        {
        %>
        <tr>
          <td><%=i+1%></td>
          <td><a href="/book/<%=rows[i].book_id%>"><%=rows[i].book_name%></a></td>
          <td><%=rows[i].book_quantity%></td>
          <td><%=rows[i].book_price%></td>
        </tr>
        <%
        }
        %>
  
      </table>
      
      <!-- <input type="button" value="추가" onclick="movepage()">
      <script type="text/javascript">
          function movepage(){
            location.href='/insert';
          }
      </script> -->

</body>
</html>